# core
colorlog
pathvalidate
pydantic
pyyaml
pynput
pywin32

# stt
vosk
sounddevice
azure-cognitiveservices-speech
openai-whisper
numpy

# tts
mutagen
elevenlabs

# llm
openai
google-generativeai
anthropic
mistralai

# HTTP сервер для OpenMW моста
aiohttp>=3.8.0
aiofiles>=23.0.0
